:root {
    --maincolor: green;
    --hovercolor: green;
    --bordercl: gray;
    --darkMaincolor: mediumseagreen;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
    font-family: -apple-system, "Helvetica Neue", sans-serif;
    font-size: 19px;
}

p {
    font-family: "EB Garamond";
    font-weight: 425;
    font-size: 20px;
    line-height: 28px;
}

a {
    border-width: 2.5px;
}

p:not(.quick-links):not(.contact-info) > a, li > a {
    border: none;
    text-decoration: underline;
    text-decoration-color: var(--hovercolor);
    text-decoration-thickness: 2px;
}

img {
    border: none;
}

hr {
    border: 0;
    border-top: 2px solid var(--bordercl);
}

span {
    color: unset;
}

.katex {
    font-size: 1.05em;
}

.inline-header {
    font-weight: 500;
}

.quick-links, .contact-info {
    font-family: -apple-system, "Helvetica Neue", sans-serif;
}

.post_details {
    color: gray;
    font-size: 0.9rem;
}

.description, .readmore {
    font-family: "EB Garamond";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin-top: 0em;
  /* font-weight: 500; */
}

h1 {
    font-size: 1.2rem;
}

/* h2 {
    font-size: 1.1rem;
} */

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    content: "";
}

li {
    font-family: "EB Garamond";
    font-weight: 425;
    font-size: 20px;
    line-height: 28px;
}

.list-item {
    margin-block-end: 1em;
}

.list-item h2 {
    margin-block-end: 0px;
}

.post > .meta {
    font-family: -apple-system, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
}

footer {
    display: flex;
    align-items: center;
    border-top: 0.1rem solid var(--bordercl);
    padding: 0.5rem 0rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    color: gray;
}

.center {
    text-align: center;
}

header {
  justify-content: space-between;
  margin: 1em 0;
}

#main_title {
    font-size: 1.5rem;
}

#main_subtitle {
    color: #a6a2a0;
    font-size: 1.1rem;
}

#main_title > a {
    border-width: 3px;
}

header .profile {
    float: left;
    margin-right: 20px;
}

header .profile img {
    border-radius: 50%;
    border-width: 0px;
    width: 80px;
    height: 80px;
}

header .main {
    text-align: left;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

header nav {
    text-align: right;
    align-self: start;
    margin-top: 10px;
    /* font-size: 1.2rem; */
}

header nav a {
    margin-left: 5px;
    margin-right: 5px;
}

.note {
    margin-top: 1.5em;
    /* width: 95%; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: aliceblue; */
    /* border-radius: 5px; */
    /* border-top-style: solid; */
    border-left-style: solid;
    /* border-color: cornflowerblue; */
    border-color: var(--maincolor);
    margin-bottom: 1em;
}

.note p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.note_title p {
    font-family: -apple-system, "Helvetica Neue", sans-serif;
}

.note .note_content {
    padding: 10px;
    padding-left: 12px;
}

.note .note_title {
    padding-left: 7px;
    /* color: white; */
    background: rgba(green, 0.2);
}
