{% extends "index.html" %}


{% block main_content %}
    <h1 class="page-title">{{ config.extra.translations[lang][0].all_tags }}</h1>

    <div class="tag-cloud">
        <ul class="tags">
            {% for term in terms %}
            {%- set term_post_count = 0 -%}
            {%- for page in term.pages -%}
                {%- if not page.draft -%}
                    {%- set term_post_count = term_post_count + 1 -%}
                {%- endif -%}
            {%- endfor -%}

            {%- if term_post_count > 0 -%}
            <li>
                <a href="{{ term.permalink | safe }}">
                    {{ term.name }} ({{ term_post_count }} post{{ term_post_count | pluralize }})
                </a>
            </li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>

{% endblock main_content %}
